@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Guns of the Old West</h1>
    <p>@ViewBag.bulletCount bullets left</p>
    <form asp-action="Shoot">
        <button>Shoot</button>
    </form>
</div>