@{
    ViewData["Title"] = "Shop";
    Layout = "_Layout";
}

<h2>Reload</h2>

<form asp-action="Reload">
    <button class="ugly-button-rectangular" type="submit" name="buyCount" value="2">Buy 2 bullets for €1</button>
    <button class="ugly-button-rectangular" type="submit" name="buyCount" value="7">Buy 7 bullets for €4</button>
    <button class="ugly-button-rectangular" type="submit" name="buyCount" value="12">Buy 12 bullets for €7</button>
</form>